@(appList: Array[models.AppModel])(implicit messages: play.i18n.Messages)
@import play.mvc._
@import org.apache.commons.lang3._
@import utils._
@_layout(
    active   = "app_list",
    customCss = Array("AdminLTE-2.3.0/plugins/datatables/dataTables.bootstrap.css"),
    customJs  = Array("AdminLTE-2.3.0/plugins/datatables/jquery.dataTables.min.js",
        "AdminLTE-2.3.0/plugins/datatables/dataTables.bootstrap.min.js")
){
<section class="content-header">
    <h1>@messages.at("msg.applications")</h1>
    <ol class="breadcrumb">
        <li><a href="@routes.AdminCPController.home()"><i class="fa fa-dashboard"></i> @messages.at("msg.home")</a></li>
        <li class="active">@messages.at("msg.applications")</li>
    </ol>
</section>
<section class="content">
    @defining(Controller.flash(AdminCPController.VIEW_APPLICATION_LIST)){msg =>
        @if(msg != null){
            <div class="row">
                <div class="col-xs-12">
                    @_macro_displayPageFlashMessage(msg)
                </div>
            </div>
        }
    }
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header">
                    <a href="@routes.AdminCPController.createApplication()" class="btn btn-sm btn-primary"><i class="fa fa-plus"> @messages.at("msg.app.create")</i></a>
                </div>
              
                <div class="box-body table-responsive">
                    <table class="table table-bordered table-condensed table-striped table-hover" id="tbl_apps">
                        <thead>
                            <tr>
                                <th style="text-align: center; vertical-align: middle;">&nbsp;</th>
                                <th style="text-align: center; vertical-align: middle;">@messages.at("msg.app.id")</th>
                                <th style="text-align: center; vertical-align: middle;">@messages.at("msg.app.api_key")</th>
                                <th style="text-align: center; vertical-align: middle;">@messages.at("msg.app.ios_p12_file")</th>
                                <th style="text-align: center; vertical-align: middle;">@messages.at("msg.actions")</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for(app <- appList){
                                <tr>
                                    <td style="text-align: center; vertical-align: middle;"><i class="fa fa-check" style="color:@if(app.isDisabled()){grey}else{green}"></i></td>
                                    <td style="text-align: center; vertical-align: middle;">@app.getId()</td>
                                    <td style="text-align: center; vertical-align: middle;">@app.getApiKey()</td>
                                    <td style="text-align: center; vertical-align: middle;">@app.getIOSP12FileSize() byte(s)</td>
                                    <td style="text-align: center; vertical-align: middle; font-size: x-large;" class="text-nowrap">
                                        <a href="@app.urlEdit()" title="@messages.at("msg.edit")" style="color:green;" class="fa fa-edit"></a>
                                        <a href="@app.urlDelete()" title="@messages.at("msg.delete")" style="color:red;" class="fa fa-remove"></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                
                <div class="box-footer">
                    <a href="@routes.AdminCPController.createApplication()" class="btn btn-sm btn-primary"><i class="fa fa-plus"> @messages.at("msg.app.create")</i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
$(document).ready(function() {
    $('#tbl_apps').DataTable({
        "paging"      : true,
        "pageLength"  : 10,
        "lengthChange": false,
        "searching"   : true,
        "ordering"    : false,
        "info"        : true,
        "autoWidth"   : false
    });
});
</script>
}
